body{
    margin-top: 20px;
}

.highlight-keyword {
        /*background:hsla(193, 37%, 64%, 0.65);*/
      background: #009933;
      color: #ffffff;
    }

.list-group-item {    
    border: 0px solid #dddddd;
    margin-bottom: 10px;
}

.poet{
    font-size: 18px;
    margin-right: 5px;
    /*
    font-style: oblique;*/
    color: #336699;
}

.title{
    color: #888888;
}

